.pokemonTile {
    display: flex;
    width: 50%;
    margin: 16px auto;
    backdrop-filter: brightness(0.33);
    color: white;
    flex-direction: column;
    border: 2px solid #e0e0e0;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .pokemonTileContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pokemonTileName h1 {
    font-size: 30px;
    margin-bottom: 16px;
    text-decoration: underline;
    text-transform: uppercase;
  }
  
  .pokemonTileContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: column;
  }
  
  .pokemonTileImage {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pokemonTileImage img {
    transition: transform 0.5s ease, box-shadow 0.5s ease;
  }

  .pokemonTileImage img:hover {
    transform: scale(2.5);
  }
  
  .pokemonTileInformation {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 5px;
  }
  
  .pokemonTileInformation span,
  .pokemonTileInformation p {
    font-size: 14px;
  }
  