.description {
  margin-bottom: 30px;
}

/* .dropdown {
  width: 100%;
  max-width: 1000px;
  padding: 5px 5px;
  border: none;
  border-radius: 5px;
  appearance: none;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  box-shadow: 0 0 2px #888;
  align-items: stretch;
} Commented out as styling is taken care of in DropDown.tsx */

.dropdown:hover {
  outline: none;
  box-shadow: 0 0 30px #ffcb05;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(50%, auto));
  gap: 0px;
}

.card {
  margin: 5px;
  padding: 5px;
  background-color: #3a3a3a;
  border: 2px solid #444;
  border-radius: 10px;
  box-shadow: 0 0 5px #ffcb05;
  transition: background-color 0.4s ease;
}

.card h2 {
  margin-bottom: 5px;
  margin-left: 10px;
}

.card p {
  color: #b0b0b0;
  margin-left: 7px;
  padding: 2px;
}

.card:hover {
  box-shadow: 0 0 20px #ffcb05;
  background-color: #4a4a4a;
}

.element {
  margin: 20px 0;
}